<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>UI</title>
  </head>
  <body>
<header>
    <div class="navbar">
      <div class="dropdown">
        <img class="navbar-logo" src="http://maracujaroxo.com/wp-content/uploads/2016/11/doutorado.gif" alt="simpson">
      <div class="dropdown-content">
        <img src="http://maracujaroxo.com/wp-content/uploads/2016/11/doutorado.gif" alt="simpson" width="300" height="200">
        <div class="desc">YOUHOU</div>
      </div>
      </div>
      <div class="navbar-right">
        <button class="btn-blue">Home</button>
        <button class="btn-blue2">Video</button>
        <button class="btn-blue3">Image</button>
        </div>
    </div>
</header> 

<div class="d_image">
  <img class="image" src="https://vignette.wikia.nocookie.net/desencyclopedie/images/3/39/Biche2.JPG/revision/latest?cb=20100914151820" alt="animal">
  <p>blabla</p>
  <span class="footer_right">

        <a href="https://www.facebook.com/"><img src="https://i2.wp.com/gusandco.net/wp-content/uploads/2018/01/logo-facebook.png?fit=512%2C512&ssl=1"height="40" width="40"></a>

        <a href="https://www.instagram.com/?hl=fr"><img src="https://png.pngtree.com/element_our/md/20180506/md_5aeee1cb35919.png" height="40" width="40"></a>

        <a href="https://twitter.com/"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" height="40" width="40"></a>

        <a href="https://fr.linkedin.com/"><img src="https://images.vexels.com/media/users/3/137382/isolated/preview/c59b2807ea44f0d70f41ca73c61d281d-linkedin-icon-logo-by-vexels.png" height="40" width="40"></a>

    </span>
</div>
    <footer>
<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">Tab One</label>
       
       <div class="content">
           On a un mode de navigation plutôt sympathique
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Tab Two</label>
       
       <div class="content">
           Qui charge vite...
       </div> 
   </div>
    
    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1">
       <label for="tab-3">Tab Three</label>
     
       <div class="content">
           Et plutôt joli :D 
       </div> 
   </div>
    
</div>
    </footer>
  </body>
</html>