.btn-blue, {
	padding: 12px 28px;
	cursor: pointer;
	background-color:
	rgba(0,0,0,0.19);
	transition-duration: 0.8s;
	border: 2px solid #496DDB;
	color: #AE8799;
}

.btn-blue:hover {
    background-color: #496DDB;
    color: white;
}

.btn-blue:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-blue2, {
	padding: 12px 28px;
	cursor: pointer;
	background-color:
	rgba(0,0,0,0.19);
	transition-duration: 0.8s;
	border: 2px solid #496DDB;
	color: #AE8799;
}

.btn-blue2:hover {
    background-color: #496DDB;
    color: white;
}

.btn-blue2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-blue3, {
	padding: 12px 28px;
	cursor: pointer;
	background-color:
	rgba(0,0,0,0.19);
	transition-duration: 0.8s;
	border: 2px solid #496DDB;
	color: #AE8799;
}

.btn-blue3:hover {
    background-color: #496DDB;
    color: white;
}

.btn-blue3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}